.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-35 {
  margin-bottom: 35px;
}

.p-35 {
  padding: 35px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.card {
  position: relative;
  border:none;
  background:none;
  line-height: 17px;
}
.card > .card-content > img,
.card > .card-content > video,
 {
  width: 100%;
  height: 100%;
  display:block;
}
.vimeo_wrap > iframe {
  width: 100%;
}

.vimeo_wrap {
  background: #000;
}
.card-vimeo {
  line-height: 15px;
}